.afterpaymentcont {
    border: 2px solid #ddd;
    background-color: #e1e6e9;
    box-shadow: 0 2px 14px 7px rgba(97, 97, 97, 0.65);
    margin-top: 2rem;
    background-color: white;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
}

.profilebutton {
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 5px 5px;
    margin-right: 5px;
    margin-bottom: 1rem;
    background-color: #dceb52;
    border: none;
    border-radius: 2px;
    position: relative;
    padding: 8px 30px;
    /* margin: 10px 1px; */
    font-size: 1rem;
    font-weight: bold;
    /* text-transform: uppercase; */
    letter-spacing: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition-duration: .4s;
    will-change: box-shadow, transform;
}

.profilebutton:hover {
    background-color: #a4bae9;
}